<div class="card text-center clean-card rounded">
    <img class="card-img w-100 d-block opacity-50" *ngIf="item.path" [src]="item.path" />
    <!-- <img class="card-img w-100 d-block opacity-50" src="assets/img/food/hamburger.jpg" /> -->
    <div class="card-body d-flex flex-column align-items-center justify-content-center info card-img-overlay" data-bs-toggle="collapse" aria-expanded="true" attr.aria-controls="collapse-{{index}}" attr.href="#collapse-{{index}}">
        <div class="p-2">
            <h4 class="card-title">{{item.name}}</h4>
        </div>
        <div class="p-2">
            <h4 class="card-title">${{item.price | number : '1.2-2' }}</h4>
        </div>
    </div>
    <div id="collapse-{{index}}" class="card-footer info collapse">
        {{item.description}}
    </div>
</div>