.collapsed {
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
}
.card-body:not(.collapsed) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}