<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">Brand</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/home/restaurants">restaurants</a></li>
                <!-- <li class="nav-item"><a class="btn btn-primary" routerLink="/login">Log In</a></li> -->
            </ul>
            <ng-container *ngIf="loggedin">
                <a class="btn btn-primary shadow" role="button" (click)="logout()">Logout</a>
            </ng-container>
            <ng-container *ngIf="!loggedin">
                <a class="btn btn-primary shadow" role="button" routerLink="/login">Login</a>
            </ng-container>
        </div>
    </div>
</nav>