<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Registration</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        <form method="post" [formGroup]="signupForm" (ngSubmit)="addUser()">
            <div class="mb-3"><label class="form-label" for="username">Username</label><input id="username" class="form-control item" type="text" formControlName="username" required (keyup)="checkUsername()"></div>
            <!-- <div class="mb-3"><label class="form-label" for="name">Name</label><input id="name" class="form-control item" type="text" /></div> -->
            <div class="mb-3"><label class="form-label" for="password">Password</label><input id="password" class="form-control item" type="password" formControlName="password" required (keyup)="checkPassword()"></div>
            <div class="mb-3"><label class="form-label" for="confirmPassword">Confirm Password</label><input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword" required (keyup)="checkPassword()"></div>
            <mat-radio-group class="row mb-3" formControlName="role" aria-label="Select an option" required>
                <mat-radio-button class="col" value="0">Restaurant Owner</mat-radio-button>
                <mat-radio-button class="col" value="1">User</mat-radio-button>
              </mat-radio-group>
            <div *ngIf="(u.errors&&u.touched)||(p.errors&&p.touched) || failed ||(!passwordMatch&&cp.touched)||(signupForm.invalid&&u.touched&&p.touched&&cp.touched)" class="alert alert-danger" role="alert">
                <div *ngIf="u.errors?.['required']&&u.touched">
                    Username is required.
                </div>
                <div *ngIf="p.errors?.['required']&&p.touched">
                    Password is required.
                </div>
                <div *ngIf="!passwordMatch&&cp.touched">
                    Passwords Don't Match.
                </div>
                <div *ngIf="r.errors?.['required']">
                    Role is required.
                </div>
                <div *ngIf="failed">
                    Username Already Exists
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col"><a class="btn btn-outline-primary w-100" routerLink="/login">Log In</a></div>
                <div class="col"><button class="btn btn-primary w-100" type="submit" [disabled]="signupForm.invalid">Sign Up</button></div>
            </div>
            <div class="mb-3 row">
                <div class="col"><a class="btn btn-outline-primary w-100" routerLink="/home">Back to Home</a></div>
            </div>
        </form>
    </div>
</section>