<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">About Us</h2>
            <!-- <object data="{{restaurant.filePath}}" type="application/pdf" width="100%" height="500px"></object> -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
        
        <button *ngIf="isOwner" class="btn btn-primary" routerLink="/home/{{routeid}}/add">Add Item</button>
        <div *ngFor="let submenu of menu.list | keyvalue: orderOriginal; let i = index;">
            <div *ngIf="submenu.value.length>0">
                <h2 class="text-info">{{categories[i]}}</h2>
                <div class="row justify-content-center">
                    <app-menu-item 
                        *ngFor="let item of submenu.value"
                        (updateMenu)="updateMenu()"
                        [item]="item"
                        [admin]="isOwner"
                        class="col-lg-4 d-flex p-2"
                        >
                    </app-menu-item>
                </div>
            </div>
        </div>
    </div>
</section>
