<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <div class="hero-image" [style.background]="'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' + restaurant.imgPath + ') no-repeat center center'">
                <div class="hero-text">
                    <h1 style="font-size:50px">{{restaurant.name}}</h1>
                    <div class="row p-4">
                        <div class="col-2">
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill" viewBox="0 0 16 16">
                                    <path d="M3 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h3v-3.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V16h3a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H3Zm1 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5Z"/>
                                  </svg>
                            </p>
                        </div>
                        <div class="col-lg-10">
                            <p>{{restaurant.address}}</p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-2">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                              </svg></p>
                        </div>
                        <div class="col-lg-10">
                            <a href="tel:{{restaurant.phone}}" style="color: white; text-decoration: none;">{{restaurant.phone}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img class="card-img w-100" [src]="restaurant.imgPath" /> -->
        </div>
        
        <div class="row justify-content-center">
            <div class="col d-flex p-2 justify-content-center">
                <button *ngIf="isOwner" class="btn btn-primary w-50" routerLink="/home/{{routeid}}/add">Add Item</button>
            </div>
        </div>
        <div *ngFor="let submenu of menu.list | keyvalue: orderOriginal; let i = index;">
            <div *ngIf="submenu.value.length>0">
                <h2 class="text-info">{{categories[i]}}</h2>
                <div class="row justify-content-center">
                    <app-menu-item 
                        *ngFor="let item of submenu.value"
                        (updateMenu)="updateMenu()"
                        [item]="item"
                        [admin]="isOwner"
                        class="col-lg-4 d-flex p-2 justify-content-center"
                        >
                    </app-menu-item>
                </div>
            </div>
        </div>
    </div>
</section>
